<!-- <p>
  user works!
</p> -->

<mat-card style="flex:5">
    <mat-card-title>Welcome Back</mat-card-title>
  <form [formGroup]="formgroup">  
  <div style="margin-bottom:15px" class="example-container">
    <mat-form-field>
      <input matInput placeholder="Email" name="email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" name="password" formControlName="password">
    </mat-form-field>
  </div>
  <div class="sign_in_btn">
      <button mat-raised-button color="primary">Sign In</button>
  </div>
  </form>
  </mat-card>

<!-- <mat-card>Simple card</mat-car sd> -->
