<br/>
<div id="add_product_card" class="col-lg-6 col-lg-offset-3">
  <mat-card>
    <div id="add_pro_form">  
    <form class="example-form" [formGroup]="signup_form_group" (ngSubmit)="createUser()">
      <mat-form-field class="example-full-width" aria-required="true"> 
        <input matInput placeholder="First Name" name="firstname" formControlname="firstname" required #userfirstname>
             <div *ngIf="firstname.errors.required">
              First Name is required.
            </div>
      </mat-form-field><br/>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Last Name" name="lastname" formControlname="lastname" required #userlastname>
      </mat-form-field><br/>
      <mat-form-field class="example-full-width" aria-required="true">
          <input matInput placeholder="E-Mail" name="email" formControlname="email" required #useremail>
      </mat-form-field><br/>
      <mat-form-field class="example-full-width" aria-required="true">
          <input matInput placeholder="Password" name="password" formControlname="password" required #userpassword>
      </mat-form-field><br/>
      <div id="add_pro_btn">
        <!-- <button mat-fab color="primary"><span>Add</span></button> -->
        <button mat-raised-button color="primary" type="submit">
                Sign Up</button>
        <!-- <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
          <mat-icon>add</mat-icon>
        </button> -->
      </div>
      <!-- <br/> -->
      <!-- {{add_form_control_group.value | json}} -->
      </form>
    </div>
  </mat-card>
</div>    