.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#add_product_card{
  margin: 2em auto;
}

form{
  margin: 0 auto;
}

#add_pro_btn{
  display: flex;
  justify-content: center
}